* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#navtitle {
    background-color: #ff4c68;
}

.navbar-brand {
    color: aliceblue;
    font-size: 30px;
    font-family: Montserrat;
}

.nav-link {
    margin: auto 20px;
    font-size: 18px;
    color: aliceblue;
    font-family: Montserrat;
}

/* title styling */
#title {
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: Montserrat;
    background-color: #ff4c68;
    color: aliceblue;
}

.center {
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    border: 5px solid rgba(255, 255, 255, 0.742);
}

.profile-pic:hover {
    border: 10px solid rgba(0, 0, 0, 0.564);
}


.title-para {
    font-family: Poppins;
    font-size: 50px;
}


/* skills */

.skill-container h1 {
    margin: 50px auto 20px auto;
    font-family: Montserrat;
    text-align: center;
}

.skill-container {
    margin: auto;
    text-align: center;
}

.skill-row {
    justify-content: center;
}

.skill {
    padding-left: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid #ff4c68;
}

.skills_pic {
    margin: 10px auto 10px auto;
    width: 60px;
    text-align: center;
}

.skill:hover {
    background-color: #ff4c68;
    color: snow;
    border-color: rgba(250, 235, 215, 0.664);
}

/* project section */

.container h1 {
    margin: 50px auto 20px auto;
    font-family: Montserrat;
    text-align: center;
}

.project {
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding-left: 10px;
    border: 3px solid #ff4c68;
}

.project a {
    font-family: Poppins;
    font-weight: 500;
    text-decoration: none;
}

.project:hover {
    background-color: #ff4c68;
    color: snow;
    border-color: rgba(250, 235, 215, 0.664);
}

/* education section */

.edu {
    padding: 10px;
    font-family: Montserrat;
    font-weight: 400;
}

.edu h5 {
    font-weight: 600;
}

/* certificate sections */

.certificate {
    padding: 10px;
    text-align: center;
}

/* footer section */
#footer {
    background-color: #ff4c68;
    text-align: center;
}

i {
    font-size: 30px;
    padding: 20px 5px;
}

.rights {
    color: aliceblue;
    font-family: Ubuntu;
}